{% extends 'base.html' %}

{% block title %} HOMEPAGE {% endblock title %}

{% block content %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for evento in eventi %}
            <div class="carousel-item active mt-1">
            {% if evento.immagine %}
                <a href="{% url 'evento:dettagli_evento' titolo=evento.titolo %}">
                    <img src="{{ MEDIA_URL }}{{ evento.immagine }}" class="card-img-top" alt="{{ evento.titolo }}">
                </a>
            {% endif %}
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="px-10 m-4">
            <h1 style="color: darkcyan"> Benvenuto/a, </h1>
            <strong>
            <p>  Se vuoi partecipare ad uno dgli eventi che trovi sotto, iscriviti al sito e procedi all'acquisto del tuo biglietto. <br>
                Inoltre, se sei un organizzatore di eventi e vuoi condividere con gli altri il tuo lavoro, attraverso l'iscrizione è possibile creare il tuo evento!</p>
            <p> Di seguito potrai trovare un elenco di tutti gli eventi in programma. </p>
            </strong>
    </div>

    <h1 class="text-center m-3">
        <a href="{% url 'evento:lista_eventi' %}" style="color: darkcyan">
            Lista degli eventi
        </a>
    </h1>
    <ul>
        <div class="row blank">
            {% for evento in eventi %}

            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 mt-3">
                <div class="card" style="width: 15rem;">
                    <img src="{{ evento.immagine.url }}" class="card-img-top" alt="{{ evento.titolo }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ evento.titolo }}
                        </h5>
                        <p class="sub-title mb-2 text-body-secondary"> Data: {{ evento.data }} <br>
                            Orario: {{ evento.orario }}<br>
                            Luogo: {{ evento.luogo }}
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary"> Creato da: {{ evento.utente_creatore }} </small>
                        </p>
                        <a href="{% url 'evento:dettagli_evento' titolo=evento.titolo %}" class="btn btn-outline-secondary" style="border-color:darkcyan;"> Info </a>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="d-flex justify-content-center mt-3">
                    <div class="card col-11" style="background-color: lightgrey;">
                        <div class="row g-0">
                            <div class="card-body" style="text-align: center">
                                <h2 class="card-title" style="color: darkcyan">
                                    Non ci sono eventi
                                </h2>
                                <a href="{%  url 'evento:crea_evento' %}" class="link-dark" > Crea un evento </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </ul>


{% endblock %}