{% extends 'base.html' %}

{% block title %} LISTA EVENTI {% endblock title %}

{% block content %}
    <p style="margin-top: 5px; margin-left: 25px">
        <a href="{% url 'evento:homepage' %}" class="link-dark"> HomePage </a>
    </p>
    <h1 style="color: darkcyan; text-align: center; margin-top: 5px"> Lista degli eventi </h1>

    <ul>
        <div class="row blank">
            {% for evento in eventi %}

            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 mt-3">
                <div class="card" style="width: 15rem;">
                    {% if evento.immagine %}
                    <img src="{{ MEDIA_URL }}{{ evento.immagine }}" class="card-img-top" alt="{{ evento.titolo }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ evento.titolo }}
                        </h5>
                        <p class="sub-title mb-2 text-body-secondary"> Data: {{ evento.data }} <br>
                            Orario: {{ evento.orario }}<br>
                            Luogo: {{ evento.luogo }}
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary"> Creato da: {{ evento.utente_creatore }} </small>
                        </p>
                        <a href="{% url 'evento:dettagli_evento' titolo=evento.titolo %}" class="btn btn-outline-secondary" style="border-color: darkcyan"> Info </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </ul>


{% endblock %}