{% extends 'base.html' %}

{% block title %} EVENTO RIMOSSO {% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center mt-3">
        <div class="card col-11" style="background-color: lightgrey;">
            <div class="row g-0">
                <div class="card-body" style="text-align: center">
                    <h2 class="card-title" style="color: darkcyan">
                        Evento selezionato rimosso con successo!
                    </h2>
                    <p style="margin-top: 5px">
                        <a href="{% url 'evento:homepage' %}" class="link-dark"> Torna alla HomePage </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}